<% provide(:title, 'Blog') %>

<ul class="blog-posts">
  <%= render partial: 'articles/feed' %>
</ul>

<div>
	<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
</div>

<div class="blog-pagination">

  <!--
  <div class="newer">
    <a href="#">« Newer posts</a>
  </div> -->

  <div class="older">
    <a href="#">Older posts »</a>
  </div>        
</div>
