<div class="logo-block">Rafe Hatfield</div>

<ul id="nav" class="nav ww-nav pull-right hidden-phone">
    <li class="active"><a href="/">Home</a></li>
    <li class="dropdown"><a href="/categories/" class="dropdown-toggle" data-toggle="dropdown">Categories</a>
        <ul class="dropdown-menu">
            <li><a href="#">IT & Development</a></li>
            <li><a href="#">Geekdom</a></li>
            <li><a href="#">Personal</a></li>
            <li><a href="#">Health</a></li>
            <li><a href="#">Random</a></li>
        </ul>
    </li>
    <li><a href="/about/">About</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/feeds/posts/">Resume</a></li>
</ul>